<h1>Sign In </h1>

<label class = "label_new_user" >
<%= "New User? Create an Account." %>
</label>
<%= link_to "Sign up now!", signup_path(:user_type => "regular"), :class => "signup_button round" %>
<label class = "label_guest_user" >
<%= "Don't want to create an Account?" %>
</label>
<%= link_to "Browse as Guest", signup_path(:user_type => "guest"), :class => "guest_browse round" %>



<%= form_for(:session, :url => sessions_path) do |f| %>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="actions">
    <%= f.submit "Sign in", :class => "main_signin" %>
  </div>
<% end %>

