<% if current_user.nil? %>
    <div class="flash error">You do not have permissions to access this page!</div>
    <%= link_to "Back to Posts Homepage", posts_path %>
<% elsif current_user.account_type != "admin" %>
    <div class="flash error">You do not have permissions to access this page!</div>
    <%= link_to "Back to Posts Homepage", posts_path %>
<% else %>

    <h2>List of all Users</h2>

    <%= link_to "Create new Admin Account", newadmin_path, :class => "hyperlink round" %>
    <br/>

    <table border="1" class="manage_accounts_table" >
      <tr>
        <b>
        <td><b>User Name</b></td>
        <td><b>Email</b></td>
        <td><b>Account Type</b></td>
        <td><b>Total Posts authored</b></td>
        <td><b>Total Replies authored</b></td>
        <td><b>Total Votes received</b></td>
        <td ><b>Action</b></td>
        </b>
      </tr>
      <% @all_users.each do |each_user| %>
          <tr >
            <td><%= each_user.name %></td>
            <td><%= each_user.email %></td>
            <td><%= each_user.account_type.capitalize %></td>
            <td><%= all_posts = Post.find_all_by_user_id_and_parent(each_user.id, -1).count %>
              <%= link_to "View Posts", search_path(:searched_from => "admin_console", :search_type => "user", :search_string => each_user.name), :class => "view_posts_admin round" %></td>
            <td><%= total_replies_authored(each_user.id, all_posts) %></td>
            <td><%= each_user.total_votes%></td>
            <td ><%= link_to "Delete User", removeuser_path(:user_id => each_user.id), :confirm => "Are you sure?", :class => "delete_user_admin round"  %></td>
          </tr >

      <% end  %>
    </table>

<% end  %>

