<% if current_user.nil? %>
    <div class="flash error">Please Sign In or Browse as a Guest User to view this page.</div>
    <%= link_to "Back to Homepage", root_path %>
<% else %>

    <b class ="search">SEARCH:</b>
    <%= form_for(:post, :url => search_path) do |f| %>
        <div class="field">
          <%= render 'shared/error_messages', :object => f.object %>

          <%= text_field_tag :search_string %>
          <div>
            <%= radio_button_tag :search_type, "user", :checked => true %> Search by Author
            <%= radio_button_tag :search_type, "posts" %> Search by Posts
          </div>
        </div>

        <div class="actions">
          <%= f.submit "Search", :class => "main_signin" %>
        </div>
    <% end %>

    <br />


    <h1 class = "all_posts round"> All Posts </h1>

    <% if current_user.account_type !="guest" %>
        <%= link_to "New Post", new_post_path, :class =>  "newpost round" %><br />
    <% end %>

    <% Post.find_all_by_parent(-1, :order => 'posts.weight DESC').each do |p| %>
        <div class = "c6 round">
          <div class = "c4">

            <div class="votes vc1" >
              <% if current_user.account_type != "guest" %>
                  <b> <%= link_to" #{Vote.find_all_by_post_id(p.id).count} Votes",
                                 newvote_path(:postid_from_page => p.id, :userid_from_page => current_user.id) %></b>
              <% else %>
                  <b><%= " #{Vote.find_all_by_post_id(p.id).count} Votes" %></b>
              <% end %>
            </div>

            <div class="post_content" >
              <%=  p.content %>
            </div>

            <div class = "author_time">
              :: Posted by<b> <%= User.find(p.user_id).name %></b>,
              <%= time_ago_in_words(p.created_at) %> ago.
            </div>
            <br />

            <% if current_user.account_type != "guest" %>
                <% if current_user.account_type == "admin" || current_user.id == p.user_id %>
                    <%= link_to "Delete", removepost_path(:post_id => p.id), :class => "post_button_delete round"%>
                    <%= link_to "Reply", newreply_path(:parentid => p.id), :class => "post_button_reply round"%>
                <% else %>
                    <%= link_to "Reply", newreply_path(:parentid => p.id), :class => "post_button_reply_no_delete round"%>
                <% end %>
            <% end %>
          </div>
          <br/>


          <% if replies = Post.find_all_by_parent(p.id, :order => 'posts.created_at ASC')  %>
          <% end %>

          <% if replies.count != 0 %>
              <b>Responses:</b>
          <% end %>

          <% replies.each do |reply| %>
              <div class="c5">

                <div class = "votes vc2" >
                  <% if current_user.account_type != "guest" %>

                      <b> <%= link_to" #{Vote.find_all_by_post_id(reply.id).count} Votes",
                                     newvote_path(:postid_from_page => reply.id, :userid_from_page => current_user.id) %></b>
                  <% else %>
                      <b><%= " #{Vote.find_all_by_post_id(reply.id).count} Votes" %></b>
                  <% end %>
                </div>

                <div class="post_content">
                  <%= reply.content %>
                </div>
                <div class = "author_time">

                  :: Posted by <b><%= User.find(reply.user_id).name %></b>,
                  <%= time_ago_in_words(p.created_at) %> ago.
                </div>

                <br />

                <% if current_user.account_type != "guest" %>
                    <% if current_user.account_type == "admin" || current_user.id == reply.user_id %>
                        <%= link_to "Delete", removepost_path(:post_id => reply.id), :class =>"reply_button_delete round"  %>
                    <% end %>
                <% end %>
              </div>
              &nbsp;

          <% end %>
        </div>
        <br />

    <% end %>
<% end %>

