<% if @post_threads.length == 0 && @reply_threads.length == 0 %>
    <p>Sorry, no results found.</p>
<% end %>

<% if @post_threads.length > 0 %>


    <% if @search_type == "user" %>
        <h3><p><%= "All Posts authored by #{@author.name.capitalize}" %></p></h3>
    <% else %>
        <h3><p><%= "All Posts containing searched string: \'#{@search_string}\'" %></p></h3>
    <% end %>

    <% @post_threads.each do |p| %>
        <div class="c6 round">
          <div class="c4">
            <div class = "votes vc1" >
              <% if current_user.account_type != "guest" %>

                  <b> <%= link_to" #{Vote.find_all_by_post_id(p.id).count} Votes",
                                 newvote_path(:postid_from_page => p.id, :userid_from_page => current_user.id) %></b>
              <% else %>
                  <b><%= " #{Vote.find_all_by_post_id(p.id).count} Votes" %></b>
              <% end %>

            </div>

            <div class="post_content">
              <%= p.content %>
            </div>

            <div class = "author_time">
              :: Posted by<b> <%= User.find(p.user_id).name %></b>,
              <%= time_ago_in_words(p.created_at) %> ago.
            </div>

            <br />
            <% if current_user.account_type != "guest" %>
                <% if current_user.account_type == "admin" || current_user.id == p.user_id %>
                    <%= link_to "Delete", removepost_path(:post_id => p.id), :class =>"post_button_delete round" %>
                    <%= link_to "Reply", newreply_path(:parentid => p.id), :class => "post_button_reply round"%>
                <% else %>
                    <%= link_to "Reply", newreply_path(:parentid => p.id), :class =>"post_button_reply_no_delete round" %>
                <% end %>

            <% end %>
          </div>
          <br/>

          <% if replies = Post.find_all_by_parent(p.id, :order => 'posts.created_at ASC')  %>
          <% end %>

          <% if replies.count != 0 %>
              <b>Responses:</b>
          <% end %>
          <% replies.each do |reply| %>
              <div class="c5">

                <div class = "votes vc2" >
                  <% if current_user.account_type != "guest" %>

                      <b> <%= link_to" #{Vote.find_all_by_post_id(reply.id).count} Votes",
                                     newvote_path(:postid_from_page => reply.id, :userid_from_page => current_user.id) %></b>
                  <% else %>
                      <b><%= " #{Vote.find_all_by_post_id(reply.id).count} Votes" %></b>
                  <% end %>
                </div>

                <div class="post_content">
                  <%= reply.content %>
                </div>
                <div class = "author_time">
                  :: Posted by<b> <%= User.find(reply.user_id).name %></b>,
                  <%= time_ago_in_words(reply.created_at) %> ago.
                </div>
                <br/>

                <% if current_user.account_type != "guest" %>
                    <% if current_user.account_type == "admin" || current_user.id == reply.user_id %>
                        <%= link_to "Delete", removepost_path(:post_id => reply.id), :class =>"reply_button_delete round" %>
                    <% end %>
                <% end %>
              </div>
              &nbsp;
          <% end %>
        </div>
        <br />

    <% end %>
<% end %>

<% if @searched_from != "admin_console" %>

    <% if @reply_threads.length > 0 %>
        <% if @search_type == "user" %>
            <h3><p><%= "All Threads containing Replies authored by #{@author.name.capitalize}" %></p></h3>
        <% else %>
            <h3><p><%= "All Threads containing Replies having searched string: \'#{@search_string}\' " %></p></h3>
        <% end %>


        <% @reply_threads.each do |post_number| %>

            <% if p = Post.find(post_number) %>
            <% end %>

            <div class="c6  round">
              <div class="c4">
                <div class = "votes vc1" >
                  <% if current_user.account_type != "guest" %>

                      <b> <%= link_to" #{Vote.find_all_by_post_id(p.id).count} Votes",
                                     newvote_path(:postid_from_page => p.id, :userid_from_page => current_user.id) %></b>
                  <% else %>
                      <b><%= " #{Vote.find_all_by_post_id(p.id).count} Votes" %></b>
                  <% end %>

                </div>

                <div class="post_content">
                  <%= p.content %>
                </div>

                <div class = "author_time">
                  :: Posted by<b> <%= User.find(p.user_id).name %></b>,
                  <%= time_ago_in_words(p.created_at) %> ago.
                </div>

                <br />
                <% if current_user.account_type != "guest" %>
                    <% if current_user.account_type == "admin" || current_user.id == p.user_id %>
                        <%= link_to "Delete", removepost_path(:post_id => p.id), :class =>"post_button_delete round" %>
                        <%= link_to "Reply", newreply_path(:parentid => p.id), :class => "post_button_reply round"%>

                    <% else %>
                        <%= link_to "Reply", newreply_path(:parentid => p.id), :class =>"post_button_reply_no_delete round" %>
                    <% end %>

                <% end %>
              </div>
              <br/>

              <% if replies = Post.find_all_by_parent(p.id, :order => 'posts.created_at ASC')  %>
              <% end %>

              <% if replies.count != 0 %>
                  <b>Responses:</b>
              <% end %>
              <% replies.each do |reply| %>
                  <div class="c5">

                    <div class = "votes vc2" >
                      <% if current_user.account_type != "guest" %>

                          <b> <%= link_to" #{Vote.find_all_by_post_id(reply.id).count} Votes",
                                         newvote_path(:postid_from_page => reply.id, :userid_from_page => current_user.id) %></b>
                      <% else %>
                          <b><%= " #{Vote.find_all_by_post_id(reply.id).count} Votes" %></b>
                      <% end %>
                    </div>

                    <div class="post_content">
                      <%= reply.content %>
                    </div>
                    <div class = "author_time">
                      :: Posted by<b> <%= User.find(reply.user_id).name %></b>,
                      <%= time_ago_in_words(reply.created_at) %> ago.
                    </div>
                    <br/>

                    <% if current_user.account_type != "guest" %>
                        <% if current_user.account_type == "admin" || current_user.id == reply.user_id %>
                            <%= link_to "Delete", removepost_path(:post_id => reply.id), :class =>"reply_button_delete round" %>
                        <% end %>
                    <% end %>
                  </div>
                  &nbsp;
              <% end %>
            </div>
            <br />

        <% end %>
    <% end %>
<% end %>

<br />
<br />

<%= link_to "Back to All Posts", posts_path, :class => "posts_cancel round" %>
<% if @searched_from == "admin_console" %>
    <%= link_to " Back to Manage Accounts", users_path, :class => "accounts_cancel round" %>
<% end %>