<header>
  <% logo = image_tag("backchannel_logo2.png", :alt => "BackChannel App V 1.0", :class => "round") %>
  <%= link_to logo, root_path %>

  <nav class="round">
    <div>
      <% if !current_user.nil? %>
        <p>Welcome <%= current_user.name.capitalize %>! Type: <%= current_user.account_type %> </p>
      <% end %>
    </div>

    <ul>
      <% if signed_in? %>
        <li><%= link_to "Home", posts_path %></li>
      <% end %>

      <li><%= link_to "Help", help_path %></li>

      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else %>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
