<header>

  <% logo = image_tag("backchannel_logo2.png", :alt => "BackChannel App V 1.0", :class => "round") %>
  <% if signed_in? %>
      <%= link_to logo, posts_path %>
  <% else %>
      <%= link_to logo, root_path %>
  <% end %>


  <nav class="round">
    <div>
      <% if !current_user.nil? %>
        <p class="welcome">Welcome <%= current_user.name.capitalize %>!</p>
      <% end %>
    </div>

    <ul>
      <% if signed_in? %>
        <li><%= link_to "Home", posts_path %></li>
      <% end %>

      <% if signed_in? %>
        <% if current_user.account_type == "admin" %>
          <li><%= link_to "Manage Accounts", users_path %></li>
        <% end %>
      <% end %>


      <li><%= link_to "Help", sessions_path %></li>

      <% if signed_in? %>
        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% end %>
    </ul>
  </nav>
</header>
